################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/.vs/WebApplication/v15/Server/sqlite3
/WebApplication/WebApplication/config.development.json