<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/login_style.css">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @RenderBody()
</body>
</html>
